doctype html
html(lang = "es")
	head
		title Jade y ES6
	body
		h1 Ejemplo de Template Jade y Sintaxis ES6
		.user hola
		script(src="https://code.jquery.com/jquery-2.2.1.min.js", type="text/javascript")
		script(src="./bundle.js", type="text/javascript")